<form class="survey-form" action="<%= submissions_path(@submission) %>" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% @questions.each do |q| %>
  <div class="survey-card">
    <%= render partial: "/questions/question", locals: {question: q} %>
    <ul class="answers">
      <% q.answers.each do |a| %>
      <li class="answer">
        <%= radio_button_tag q.id, a.id, class: "radio-button" %>
        <%= label_tag a.content %>
      </li>
      <% end %>
    </ul>        
  </div>
  <% end %>
  <%= submit_tag "Find Expert", class: "button survey-submit transition--subtle" %>
</form>