<p class="notice" id="notice"><%= notice %></p>
<section class="survey" id="submission-result-container">
	<% if @submission.need_expert? %>
	<h3 id="conclusion-header" class="survey-header">Your pigeon needs help.</h3>

	<div id="expert-list-container" class="expert-container">
		<p id="expert-introduction">
		Please contact one of the nearby pigeon experts below for help.
		</p>
		<ul id="expert-list">
			<% @submission.experts.each do |expert| %>

			<li class="expert-list-item">
				<%= expert.name %>: <%= expert.email %>
			</li>

			<% end %>
		</ul>
	</div>

	<p id="summary-" class="survey-description">
	Here is a summary of your response.
	</p>	
	<div class="summary-container">
		<% @submission.answers.each do |answer| %>
			<div class="summary-answer">
				<h4 class="question-repeat"><%= answer.question.content %>
					<p class="answer-repeat"><%= answer.content %> </p>
				</h4>
			</div>
		<% end %>				

	</div>
	<% else %>
	<h3 id="conclusion-header" class="survey-header">Your pigeon is fine.</h3>
	<% end %>
	<%= link_to 'Back', "/", class: "button"%>
</section>
<div id="map-container">
<p id="map-intro">
Need more help? Contact one of the many pigeon rescues in the map below.
</p>
	<iframe src="https://www.google.com/maps/d/embed?mid=z-V-YLf26PLU.kQXZ-_QF63Xs&hl=en" width="600" height="480"></iframe>
</div>




