<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PigeonPalomacy</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav class="nav clearfix">
      <a class="nav-logo logo" href="http://www.pigeonrescue.org/"></a>
      <ul class="nav-link">
        <li class="nav-link-item nav-link-home"><a href="http://www.pigeonrescue.org/">Home</a></li>
        <li class="nav-link-item nav-link-about"><a href="http://www.pigeonrescue.org/about/">About</a></li>
        <li class="nav-link-item nav-link-facebook"><a href="https://www.facebook.com/PigeonDiplomacy/">Our Facebook Page</a></li>
        <li class="nav-link-item nav-link-login">Login</li>
        <div class="nav-link-item-dropdown">
          <%= link_to 'As an Admin', new_admin_user_session_path, :class => 'nav-link-login-admin' %>
          <%= link_to 'As an Expert', new_user_session_path, :class => 'nav-link-login-expert' %>     
        </div>
      </ul>
    </nav>
    <%= yield %>

  </body>
</html>
