<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PigeonPalomacy</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav class="nav clearfix">
      <a class="nav-logo logo" href="http://www.pigeonrescue.org/"></a>
      <ul class="nav-link">
        <li class="nav-link-item nav-link-home"><a href="http://www.pigeonrescue.org/">Home</a></li>
        <li class="nav-link-item nav-link-about">About</li>
        <li class="nav-link-item nav-link-facebook">Our Facebook Page</li>
        <% if user_signed_in? %>
          <li class="nav-link-item nav-link-login"><%=current_user.name%></li>
          <div class="nav-link-item-dropdown">
            <%= link_to 'Sign Out', destroy_user_session_path, :method => "DELETE", :class => 'nav-link-login-expert' %>
            <%= link_to 'Edit Info', edit_user_registration_path, :class => 'nav-link-login-expert' %>     
          </div>
        <%else%>
          <li class="nav-link-item nav-link-login">Login</li>
          <div class="nav-link-item-dropdown">
            <%= link_to 'As an Admin', new_admin_user_session_path, :class => 'nav-link-login-admin' %>
            <%= link_to 'As an Expert', new_user_session_path, :class => 'nav-link-login-expert' %>     
          </div>
        <%end%>
      </ul>
    </nav>
    <%= yield %>

  </body>
</html>